<mat-card *ngIf="checkout$ | async as checkout">
    <mat-card-title>Book Details</mat-card-title>
    <mat-card-content>
      <form [formGroup]="checkoutForm">
        <mat-form-field>
          <label for="borrowerFirstName">First name of borrower</label>
          <input matInput formControlName="borrowerFirstName" required>
        </mat-form-field>
        <mat-form-field>
            <label for="borrowerLastName">Last name of borrower</label>
            <input matInput formControlName="borrowerLastName" required>
        </mat-form-field>
        <mat-form-field>
            <label for="dueDate">Due date</label>
            <input matInput formControlName="dueDate" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="checkoutClick()" [disabled]="checkoutForm.invalid">Checkout</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>